.Container
{
    text-align: center;
	margin-top:14%;
}

.Container:before
{
	content: '';
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

@media only screen and (min-width : 768px) {
	.circle-container a  {
		display: block;
		position: absolute;
		top: 50%; left: 50%;
		/*width: 4.5em; 
		height: 4em;*/
		margin: -2em;
		font-family:Century Gothic;
		color:black;
		font-size:11px;
	}
	
	.left-container a  {
		display: block;
		position: absolute;
		top: 47.9%;
		left: 11.5%;
		margin: -2em;
		z-index: 999;
		font-family:Century Gothic;
		color:black;
		font-size:11px;
	}
	
	.deg335 { transform: rotate(316deg) translate(4.4em) rotate(-282deg) }
	.deg325 { transform: rotate(274deg) translate(4.8em) rotate(-275deg) }
	.deg315 { transform:rotate(223deg) translate(5.5em) rotate(-264deg) }
	.deg225 { transform:rotate(190deg) translate(6.2em) rotate(-272deg) }
	.deg150 {transform:rotate(-37deg) translate(-7.5em) rotate(-93deg)}
	.deg135 { transform: rotate(-73deg) translate(-7.2em) rotate(-110deg) }
	.deg45 { transform: rotate(51deg) translate(5.5em) rotate(71deg) }
	.deg0 { transform: rotate(-7deg) translate(4.6em) rotate(65deg)}
	
	.imgdeg0 { transform: rotate(9deg) translate(13.2em) rotate(-9deg); }
	.imgdeg45 { transform: rotate(47deg) translate(13.0em) rotate(-47deg); }
	.imgdeg135 { transform: rotate(-86deg) translate(-12.7em) rotate(-273deg); }
	.imgdeg225 { transform:rotate(172deg) translate(16em) rotate(-532deg); }
	.imgdeg150 { transform: rotate(-39deg) translate(-14.6em) rotate(39deg); }
	.imgdeg315 { transform: rotate(208deg) translate(15em) rotate(-208deg); }
	.imgdeg325 { transform: rotate(265deg) translate(12.5em) rotate(-265deg); }
	.imgdeg335 { transform: rotate(328deg) translate(11.5em) rotate(-327deg); }
}

/*.circle-container a  {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    margin: -2em;
	font-family:Century Gothic;
	color:black;
}*/
.outer  img {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4.5em; /*height: 4em;*/
    margin: -2em;
}

/*.left-container a  {
    display: block;
    position: absolute;
    top: 47.9%;
    left: 11.5%;
    margin: -2em;
	z-index: 999;
	font-family:Century Gothic;
	color:black;
}*/

.content
{
    display: inline-block;
    vertical-align: middle;
}
.img-circle
{
	width:35%;
	margin-left:5%;
}
h4{
	margin-left:73px;
}
/*.img-responsive{
	margin-left:240px;
	margin-top:190px;
	width:35%;
}*/
p{
	align:bottom;
	font-size:20;
}
 @media only screen and (min-width : 992px) {
 .circle-container a  {
		display: block;
		position: absolute;
		top: 50%; left: 50%;
		/*width: 4.5em; 
		height: 4em;*/
		margin: -2em;
		font-family:Century Gothic;
		color:black;
		font-size:11px;
	}
	
	.left-container a  {
		display: block;
		position: absolute;
		top: 47.9%;
		left: 11.5%;
		margin: -2em;
		z-index: 999;
		font-family:Century Gothic;
		color:black;
		font-size:11px;
	}

	
	.yellowtree {
		position: relative;
	}

	.yellowtree span{
		position: absolute; 
		font-family: Century Gothic;
		font-size:11px;
	}

	.yellowtree span span:hover {
	color: #FEBE1F;
	}
	
	.deg0 { transform: /*translate(8.2em) rotate(83deg);*/ rotate(8deg) translate(6.6em) rotate(65deg)}
	.deg0a { transform: /*translate(8.2em) rotate(83deg);*/ rotate(16deg) translate(5.6em) rotate(65deg)}
	.deg0b { transform: /*translate(8.2em) rotate(83deg);*/ rotate(8deg) translate(7.6em) rotate(65deg)}
	.deg45 { transform: /*rotate(46deg) translate(8.2em) rotate(70deg);*/ rotate(50deg) translate(8.5em) rotate(79deg) }
	.deg45a { transform: /*rotate(46deg) translate(8.2em) rotate(70deg);*/ rotate(50deg) translate(7.5em) rotate(79deg) }
	.deg45b { transform: /*rotate(46deg) translate(8.2em) rotate(70deg);*/ rotate(50deg) translate(9.5em) rotate(79deg) }
	.deg451 { transform: rotate(60deg) translate(8.9em) rotate(63deg); }
	.deg452 { transform: rotate(75deg) translate(9.5em) rotate(63deg); }
	.deg135 { transform: /*rotate(-94deg) translate(-9.7em) rotate(-98deg);*/ rotate(-73deg) translate(-10.2em) rotate(-110deg) }
	.deg135a { transform: /*rotate(-94deg) translate(-9.7em) rotate(-98deg);*/ rotate(-73deg) translate(-9.2em) rotate(-110deg) }
	.deg135b { transform: /*rotate(-94deg) translate(-9.7em) rotate(-98deg);*/ rotate(-73deg) translate(-11.2em) rotate(-110deg) }
	.deg150 { transform: rotate(-38deg) translate(-11.1em) rotate(-101deg) }
	.deg150a { transform: /*rotate(-59deg) translate(-9.6em) rotate(-92deg);*/rotate(-38deg) translate(-10.1em) rotate(-101deg) }
	.deg150b{ transform: /*rotate(-59deg) translate(-9.6em) rotate(-92deg);*/rotate(-38deg) translate(-11.1em) rotate(-101deg) }
	.deg1501 { transform: rotate(-43deg) translate(-9.6em) rotate(-93deg); }
	.deg180 { transform: translate(-7em); }
	.deg225 { transform: /*rotate(172deg) translate(9em) rotate(-270deg);*/ rotate(183deg) translate(9.7em) rotate(-272deg) }
	.deg225a { transform: /*rotate(172deg) translate(9em) rotate(-270deg);*/ rotate(183deg) translate(8.7em) rotate(-272deg) }
	.deg225b { transform: /*rotate(172deg) translate(9em) rotate(-270deg);*/ rotate(183deg) translate(12.7em) rotate(-272deg) }
	.deg315 { transform: /*rotate(210deg) translate(8em) rotate(-267deg);*/ rotate(210deg) translate(8.8em) rotate(-267deg) }
	.deg315a { transform: /*rotate(210deg) translate(8em) rotate(-267deg);*/ rotate(210deg) translate(7.8em) rotate(-267deg) }
	.deg315b { transform: /*rotate(210deg) translate(8em) rotate(-267deg);*/ rotate(210deg) translate(9.8em) rotate(-267deg) }
	.deg325 { transform: /*rotate(258deg) translate(7.3em) rotate(-273deg);*/ rotate(258deg) translate(7.5em) rotate(-273deg) }
	.deg325a { transform: /*rotate(258deg) translate(7.3em) rotate(-273deg);*/ rotate(258deg) translate(6.5em) rotate(-273deg) }
	.deg325b { transform: /*rotate(258deg) translate(7.3em) rotate(-273deg);*/ rotate(258deg) translate(8.5em) rotate(-273deg) }
	.deg335 { transform: /*rotate(311deg) translate(7.5em) rotate(-282deg);*/rotate(316deg) translate(6.4em) rotate(-282deg) }
	.deg335a { transform: /*rotate(311deg) translate(7.5em) rotate(-282deg);*/rotate(316deg) translate(5.4em) rotate(-282deg) }
	.deg335b { transform: /*rotate(311deg) translate(7.5em) rotate(-282deg);*/rotate(316deg) translate(7.4em) rotate(-282deg) }
	.deg3351 { transform: rotate(334deg) translate(7.5em) rotate(-275deg); }
	
	.imgdeg0 { transform: rotate(9deg) translate(13.2em) rotate(-9deg); }
	.imgdeg45 { transform: rotate(47deg) translate(13.0em) rotate(-47deg); }
	.imgdeg135 { transform: rotate(-86deg) translate(-12.7em) rotate(-273deg); }
	.imgdeg225 { transform:rotate(172deg) translate(16em) rotate(-532deg); }
	.imgdeg150 { transform: rotate(-39deg) translate(-14.6em) rotate(39deg); }
	.imgdeg315 { transform: rotate(208deg) translate(15em) rotate(-208deg); }
	.imgdeg325 { transform: rotate(265deg) translate(12.5em) rotate(-265deg); }
	.imgdeg335 { transform: rotate(328deg) translate(11.5em) rotate(-327deg); }
 }
 
@media only screen and (min-width : 1200px) {
	.circle-container a  {
		display: block;
		position: absolute;
		top: 50%; left: 50%;
		/*width: 4.5em; 
		height: 4em;*/
		margin: -2em;
		font-family:Century Gothic;
		color:black;
		font-size:14px;
	}
	
	.left-container a  {
		display: block;
		position: absolute;
		top: 47.9%;
		left: 11.5%;
		margin: -2em;
		z-index: 999;
		font-family:Century Gothic;
		color:black;
		font-size:14px;
	}
	
	.yellowtree {
		position: relative;
	}

	.yellowtree span{
		position: absolute; 
		font-family: Century Gothic;
		font-size:11px;
	}

	/*.yellowtree span:hover {
		color: #FEBE1F;
	}*/
	
	.deg335 { transform: rotate(312deg) translate(4.7em) rotate(-279deg) }
	.deg325 { transform: rotate(269deg) translate(5.9em) rotate(-275deg) }
	.deg315 { transform:rotate(220deg) translate(7.1em) rotate(-264deg) }
	.deg225 { transform:rotate(189deg) translate(8.4em) rotate(-272deg) }
	.deg150 {transform:rotate(-34deg) translate(-9.9em) rotate(-103deg)}
	.deg135 { transform: rotate(-68deg) translate(-9.2em) rotate(-116deg) }
	.deg45 { transform: rotate(54deg) translate(7em) rotate(73deg) }
	.deg0 { transform: rotate(16deg) translate(5.2em) rotate(60deg)}
	
	.imgdeg0 { transform: rotate(11deg) translate(12.2em) rotate(-11deg) }
	.imgdeg45 { transform: rotate(54deg) translate(11.2em) rotate(-56deg) }
	.imgdeg135 { transform: rotate(-81deg) translate(-11.7em) rotate(-276deg) }
	.imgdeg225 { transform:rotate(172deg) translate(16em) rotate(-532deg); }
	.imgdeg150 { transform: rotate(-39deg) translate(-14.6em) rotate(39deg); }
	.imgdeg315 { transform: rotate(208deg) translate(15em) rotate(-208deg); }
	.imgdeg325 { transform: rotate(265deg) translate(12.5em) rotate(-265deg); }
	.imgdeg335 { transform: rotate(320deg) translate(11.5em) rotate(-322deg) }
	
	.left-container-crew a  {
		display: block;
		position: absolute;
		top: 47.9%;
		left: 64.5%;
		margin: -2em;
		z-index: 999;
		font-family:Century Gothic;
		color:black;
		font-size:14px;
	}
	
	.deg335crew { transform: rotate(313deg) translate(4.7em) rotate(-271deg) }
	.deg325crew { transform:rotate(266deg) translate(5.4em) rotate(-263deg) }
	.deg315crew { transform:rotate(220deg) translate(6.9em) rotate(-256deg) }
	.deg225crew { transform:rotate(185deg) translate(7.5em) rotate(-263deg) }
	.deg150crew {transform:rotate(-34deg) translate(-9.9em) rotate(-93deg)}
	.deg135crew { transform:rotate(-81deg) translate(-8.5em) rotate(-95deg) }
	.deg45crew { transform: rotate(75deg) translate(7em) rotate(65deg) }
	.deg0crew { transform: rotate(10deg) translate(5.7em) rotate(75deg)}
	
	.left-container-film a {
		display: block;
		position: absolute;
		top: 74.5%;
		left: 67.9%;
		margin: -2em;
		z-index: 999;
		font-family:Century Gothic;
		color:black;
		font-size:14px;
	}
	
	.deg335film { transform: rotate(313deg) translate(5.1em) rotate(-267deg) }
	.deg325film { transform:rotate(266deg) translate(6em) rotate(-263deg) }
	.deg315film { transform:rotate(220deg) translate(7.4em) rotate(-256deg) }
	.deg225film { transform:rotate(185deg) translate(7.8em) rotate(-263deg) }
	.deg150film {transform:rotate(-34deg) translate(-10.1em) rotate(-97deg)}
	.deg135film { transform:rotate(-81deg) translate(-8.3em) rotate(-95deg) }
	.deg45film { transform: rotate(75deg) translate(6.8em) rotate(65deg) }
	.deg0film{ transform: rotate(10deg) translate(5.7em) rotate(75deg)}
} 

@media only screen and (min-width : 1410px) {
	.circle-container a  {
		display: block;
		position: absolute;
		top: 50%; left: 50%;
		margin: -2em;
		font-family:Century Gothic;
		color:black;
		font-size:14px;
	}
	
	.left-container a  {
		display: block;
		position: absolute;
		top: 47.9%;
		left: 11.5%;
		margin: -2em;
		z-index: 999;
		font-family:Century Gothic;
		color:black;
		font-size:14px;
	}

	
	.yellowtree {
		position: relative;
	}

	.yellowtree span{
		position: absolute; 
		font-family: Century Gothic;
		font-size:11px;
	}

	.yellowtree span:hover {
	color: #FEBE1F;
	}
	
	.deg335 { transform: rotate(312deg) translate(4.9em) rotate(-279deg) }
	.deg325 { transform: rotate(269deg) translate(6.2em) rotate(-275deg) }
	.deg315 { transform:rotate(220deg) translate(7.4em) rotate(-264deg) }
	.deg225 { transform:rotate(189deg) translate(8.5em) rotate(-272deg) }
	.deg150 {transform:rotate(-34deg) translate(-10.4em) rotate(-103deg)}
	.deg135 { transform: rotate(-68deg) translate(-9.5em) rotate(-116deg) }
	.deg45 { transform: rotate(54deg) translate(7.2em) rotate(73deg) }
	.deg0 { transform: rotate(16deg) translate(5.2em) rotate(60deg)}
	
	.imgdeg0 { transform: rotate(12deg) translate(12.2em) rotate(-12deg) }
	.imgdeg45 { transform: rotate(57deg) translate(13em) rotate(-56deg) }
	.imgdeg135 { transform: rotate(-74deg) translate(-11.7em) rotate(-286deg) }
	.imgdeg225 { transform:rotate(172deg) translate(16em) rotate(-532deg) }
	.imgdeg150 { transform: rotate(-39deg) translate(-16.6em) rotate(39deg) }
	.imgdeg315 { transform: rotate(208deg) translate(15em) rotate(-208deg) }
	.imgdeg325 { transform: rotate(265deg) translate(11.5em) rotate(-265deg) }
	.imgdeg335 { transform: rotate(321deg) translate(10.5em) rotate(-321deg) }
	
	.left-container-crew a  {
		display: block;
		position: absolute;
		top: 47.9%;
		left: 64.5%;
		margin: -2em;
		z-index: 999;
		font-family:Century Gothic;
		color:black;
		font-size:14px;
	}
	
	.deg335crew { transform: rotate(313deg) translate(5.4em) rotate(-271deg) }
	.deg325crew { transform:rotate(266deg) translate(5.9em) rotate(-263deg) }
	.deg315crew { transform:rotate(220deg) translate(6.9em) rotate(-256deg) }
	.deg225crew { transform:rotate(185deg) translate(7.8em) rotate(-263deg) }
	.deg150crew {transform:rotate(-34deg) translate(-10.5em) rotate(-93deg)}
	.deg135crew { transform:rotate(-81deg) translate(-9.1em) rotate(-95deg) }
	.deg45crew { transform: rotate(75deg) translate(7.5em) rotate(65deg) }
	.deg0crew { transform: rotate(10deg) translate(6.3em) rotate(75deg)}
	
	.left-container-film a {
		display: block;
		position: absolute;
		top: 74.5%;
		left: 67.9%;
		margin: -2em;
		z-index: 999;
		font-family:Century Gothic;
		color:black;
		font-size:14px;
	}
	
	.deg335film { transform: rotate(313deg) translate(5.3em) rotate(-267deg) }
	.deg325film { transform:rotate(266deg) translate(6.3em) rotate(-263deg) }
	.deg315film { transform:rotate(220deg) translate(7.7em) rotate(-256deg) }
	.deg225film { transform:rotate(185deg) translate(8.3em) rotate(-263deg) }
	.deg150film {transform:rotate(-34deg) translate(-10.4em) rotate(-97deg)}
	.deg135film { transform:rotate(-81deg) translate(-8.7em) rotate(-95deg) }
	.deg45film { transform: rotate(75deg) translate(7.1em) rotate(65deg) }
	.deg0film{ transform: rotate(10deg) translate(5.9em) rotate(75deg)}
}

@media only screen and (min-width : 1900px) {
	.circle-container a  {
		display: block;
		position: absolute;
		top: 50%; left: 50%;
		margin: -2em;
		font-family:Century Gothic;
		color:black;
		font-size:14px;
	}
	
	.left-container a  {
		display: block;
		position: absolute;
		top: 47.9%;
		left: 11.5%;
		margin: -2em;
		z-index: 999;
		font-family:Century Gothic;
		color:black;
		font-size:14px;
	}

	
	.yellowtree {
		position: relative;
	}

	.yellowtree span{
		position: absolute; 
		font-family: Century Gothic;
		font-size:11px;
	}

	.yellowtree span:hover {
	color: #FEBE1F;
	}
	
	.deg335 { transform: rotate(339deg) translate(6em) rotate(-288deg) }
	.deg325 { transform: rotate(279deg) translate(8.3em) rotate(-275deg) }
	.deg315 { transform:rotate(229deg) translate(10.3em) rotate(-269deg)}
	.deg225 { transform:rotate(198deg) translate(12.2em) rotate(-275deg) }
	.deg150 {transform:rotate(-19deg) translate(-14.7em) rotate(-110deg)}
	.deg135 { transform: rotate(-56deg) translate(-13em) rotate(-122deg) }
	.deg45 { transform: rotate(69deg) translate(10em) rotate(62deg)}
	.deg0 { transform: rotate(40deg) translate(8em) rotate(47deg)}
	
	.imgdeg0 { transform: rotate(9deg) translate(14.2em) rotate(-9deg) }
	.imgdeg45 { transform: rotate(58deg) translate(14em) rotate(-59deg) }
	.imgdeg135 { transform: rotate(-76deg) translate(-13.7em) rotate(-278deg) }
	.imgdeg225 { transform:rotate(172deg) translate(21em) rotate(-532deg) }
	.imgdeg150 { transform: rotate(-39deg) translate(-18.6em) rotate(39deg) }
	.imgdeg315 { transform: rotate(208deg) translate(20em) rotate(-208deg) }
	.imgdeg325 { transform: rotate(265deg) translate(16.5em) rotate(-265deg) }
	.imgdeg335 { transform: rotate(315deg) translate(13.9em) rotate(-317deg) }
	
	.left-container-crew a  {
		display: block;
		position: absolute;
		top: 47.9%;
		left: 64.5%;
		margin: -2em;
		z-index: 999;
		font-family:Century Gothic;
		color:black;
		font-size:14px;
	}
	
	.deg335crew { transform: rotate(313deg) translate(5.4em) rotate(-271deg) }
	.deg325crew { transform:rotate(266deg) translate(5.9em) rotate(-263deg) }
	.deg315crew { transform:rotate(220deg) translate(6.9em) rotate(-256deg) }
	.deg225crew { transform:rotate(185deg) translate(7.8em) rotate(-263deg) }
	.deg150crew {transform:rotate(-34deg) translate(-10.5em) rotate(-93deg)}
	.deg135crew { transform:rotate(-81deg) translate(-9.1em) rotate(-95deg) }
	.deg45crew { transform: rotate(75deg) translate(7.5em) rotate(65deg) }
	.deg0crew { transform: rotate(10deg) translate(6.3em) rotate(75deg)}
	
	.left-container-film a {
		display: block;
		position: absolute;
		top: 74.5%;
		left: 67.9%;
		margin: -2em;
		z-index: 999;
		font-family:Century Gothic;
		color:black;
		font-size:14px;
	}
	
	.deg335film { transform: rotate(313deg) translate(7.9em) rotate(-267deg) }
	.deg325film { transform:rotate(266deg) translate(9em) rotate(-263deg)}
	.deg315film { transform:rotate(220deg) translate(10.8em) rotate(-256deg) }
	.deg225film { transform:rotate(185deg) translate(11.8em) rotate(-263deg)}
	.deg150film {transform:rotate(-34deg) translate(-13.9em) rotate(-97deg)}
	.deg135film { transform:rotate(-81deg) translate(-11.8em) rotate(-95deg) }
	.deg45film { transform: rotate(74deg) translate(10em) rotate(66deg) }
	.deg0film{ transform: rotate(10deg) translate(8.4em) rotate(77deg)}
}

@media only screen and (min-width : 2500px) {
	.circle-container a  {
		display: block;
		position: absolute;
		top: 50%; left: 50%;
		margin: -2em;
		font-family:Century Gothic;
		color:black;
		font-size:16px;
	}
	
	.left-container a  {
		display: block;
		position: absolute;
		top: 47.9%;
		left: 11.5%;
		margin: -2em;
		z-index: 999;
		font-family:Century Gothic;
		color:black;
		font-size:16px;
	}


	.yellowtree {
		position: relative;
	}

	.yellowtree span{
		position: absolute; 
		font-family: Century Gothic;
		font-size:11px;
	}

	.yellowtree span:hover {
	color: #FEBE1F;
	}
	
	.deg335 { transform: rotate(339deg) translate(6.8em) rotate(-288deg) }
	.deg325 { transform: rotate(279deg) translate(9.7em) rotate(-275deg) }
	.deg315 { transform:rotate(229deg) translate(12.3em) rotate(-269deg)}
	.deg225 { transform:rotate(198deg) translate(14.2em) rotate(-275deg) }
	.deg150 {transform:rotate(-19deg) translate(-17.4em) rotate(-111deg)}
	.deg135 { transform: rotate(-56deg) translate(-14.7em) rotate(-120deg) }
	.deg45 { transform: rotate(69deg) translate(11.2em) rotate(58deg)}
	.deg0 { transform: rotate(40deg) translate(8.3em) rotate(47deg)}
	
	.imgdeg0 { transform: rotate(0deg) translate(17.2em) rotate(-6deg) }
	.imgdeg45 { transform: rotate(47deg) translate(16em) rotate(-47deg) }
	.imgdeg135 { transform: rotate(-69deg) translate(-16.7em) rotate(-282deg) }
	.imgdeg225 { transform:rotate(177deg) translate(28em) rotate(-532deg) }
	.imgdeg150 { transform: rotate(-31deg) translate(-24.6em) rotate(36deg) }
	.imgdeg315 { transform: rotate(208deg) translate(28em) rotate(-210deg) }
	.imgdeg325 { transform: rotate(259deg) translate(21.5em) rotate(-261deg) }
	.imgdeg335 { transform: rotate(316deg) translate(18.5em) rotate(-319deg) }
	
	.left-container-film a {
		display: block;
		position: absolute;
		top: 74.5%;
		left: 67.9%;
		margin: -2em;
		z-index: 999;
		font-family:Century Gothic;
		color:black;
		font-size:14px;
	}
	
	.deg335film { transform: rotate(313deg) translate(10.9em) rotate(-267deg) }
	.deg325film { transform:rotate(258deg) translate(12.8em) rotate(-263deg)}
	.deg315film { transform:rotate(213deg) translate(15em) rotate(-261deg) }
	.deg225film { transform:rotate(171deg) translate(15.8em) rotate(-263deg)}
	.deg150film {transform:rotate(-43deg) translate(-17.2em) rotate(-97deg)}
	.deg135film { transform:rotate(-81deg) translate(-14.8em) rotate(-95deg) }
	.deg45film { transform: rotate(74deg) translate(13em) rotate(71deg)}
	.deg0film{ transform:rotate(10deg) translate(11.4em) rotate(77deg)}
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

a:hover {
	color: #FEBE1F;
}

.left {
	margin-top: -1%;
    margin-left: 4.5%;
}

.verticalLine {
	width:2px;
    background-color:#EBEBE0;
    position:absolute;
	display: none;
	height : 30%;
    bottom:0;
	z-index: -999;
    margin-left:16%;
}

.verticalLineMusic {
	width:2px;
	float: right;
    background-color:#EBEBE0;    
	display: none;
	/*height : 30%;*/
	z-index: -999;
    /*margin-left:16%;*/
}

.bottom-image{
	display: block;
	margin-left:16%;
	z-index: -99;
	margin-top:42px;
}
/*About_us */
.about{
	font-size:150%;
}
/* music*/
.music{
    position:relative;
    background:none;
    display:inline-block;
    color:black;
    text-align:center;
    line-height:20px;
	font-size:150%;
}
.photography{
	font-size:150%;
}

/* photography*/

#img1
{
    position: fixed;
    z-index: 9999;
 
    -ms-touch-action: none;
    touch-action: none;
}

.aboutusline{
	width:2px;
    background-color:#EBEBE0;
    position:absolute;
	display: none;	
    bottom:0;
	z-index: -999;
	-ms-transform: rotate(-155deg); /* IE 9 */
    -webkit-transform: rotate(-155deg); /* Chrome, Safari, Opera */
    transform: rotate(-155deg);
}

.film-tv-div{
	background-image: url('../images/FilmsTV.png');    
    background-size: 100%;
    background-repeat: no-repeat;
	width:100%;
	height:100%;
}

.filmcrewline{
	width:2px;
    background-color:#EBEBE0;
    position:absolute;
	display: none;
	height : 50%;
	z-index: -999;
	-ms-transform: rotate(0deg) translate(4.5em) rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(0deg) translate(4.5em) rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg) translate(4.5em) rotate(-20deg);
}

.outer-container {
	/*width:50%;*/
}
.img-container {
	background-image: url(../images/logoweb.png) no-repeat;
	height:100px;
	width:100px;
}